.Home-logo {
    animation: Home-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

@keyframes Home-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Home-link {
    color: #61dafb;
}
